:root {
  --main-color: #3176df;
  --secondary-color: #938989;
  --background-color: #eee5e5;
}
body {
  font-family: "JetBrains Mono", monospace;
  font-family: "Roboto Condensed", sans-serif;
  width: 60%;
  margin: 20px auto;
}
header {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white 60%, var(--main-color) 40%);
}
.button {
  padding: 10px 60px;
  border: solid 1px #3176df;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #938989;
  background-color: var(--background-color);
  color: var(--main-color);
  transition: all 200ms ease;
  font-size: 24px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

hr {
  border: solid 1px var(--main-color);
}
h3 {
  display: inline;
}
i {
  padding: 5px;
  font-size: 24px;
  color: var(--main-color);
}
ul {
  list-style-type: none;
}
p {
  color: var(--secondary-color);
}
.name-occupation {
  padding-left: 40px;
}
.contact-link {
  padding: 40px 0 0 40px;
  margin: 40px 100px;
}
.business-card {
  display: block;
  margin: 60px auto;
  width: 400px;
  border: solid 1px var(--main-color);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--background-color);
}
.adress {
  display: inline flex;
}
.back {
  display: flex;
  justify-content: center;
}
